body{
  background-color: #9575cd;
}
.floatButt{
  position: relative;
  left: 20px;
  padding-top: 50px;
}
.xsb{
 background-color: #0d47a1;
}
.container{
  color: #e8eaf6;
  font-family: "Times New Roman", Times, serif;
  font-size: 18;
}
.brnButt{
    position: relative;
    left: 20px;
    bottom: 10px;
}
.followsYou{
  position:fixed;
  top:30px;
  background-color: #673ab7;
  right:30px;
  width:400px;
  height:2000px;
}
.imgName{
  width: 300px;
  height:auto;
}
.img{
  padding-top: 10px;
  text-align: center;
}
.bottomText{
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.simpleDesc{
  font-size:30;
}
.name{
  font-size:12;
}
