{% extends "mBruno.html" %}

{% load static%}
{% block title %}
  This is shitPostLand so pls
{% endblock %}

{% block content %}

<section id="Events">
	<div class="my-auto">
        	<form id="form" method="POST" action="{% url 'saveproject' %}">
	        	{% csrf_token %}
	          {{ title }}<!-- No .as_p karena itu buat forms only-->
	          {{ addPost_form.as_p }}
            <div class="brnButt">
	        	  <input id="submit" type="submit" class="waves-effect waves-light btn-small xsc" value="submit">
              <a class="waves-effect waves-light btn-small xsd" href = "/">Back</a>
            </div>
       		</form>
    </div>
</section>

{% endblock %}
