{% extends 'mBruno.html' %}
{% load static%}
{%block content%}
<div class="followsYou">
  <div class="imgCont">
    <div class="img">
      <img src="https://scontent.fcgk12-1.fna.fbcdn.net/v/t1.0-0/p552x414/36737332_10213176522189667_3006931321466388480_n.jpg?_nc_cat=104&oh=14643f4e27a236a0c3c7bff9128f64ba&oe=5C5F469A" alt="" class="responsive-image z-depth-4 circle imgName">
    </div>
    <div class="bottomText">
      <h2 class="Name">
        Amal Adiguna
      </h2>
      <p class="simpleDesc">
        A boring guy. Conflicts, economy and travel intrigue me.
      </p>
      <p>
        Must Reads: FM 7-22, Failure of the Third World Air Power, A Humane Economy.<br>
        Accomplishments:<br>
        - Most Honorable Delegate ALSA E-Comp 2018 MUN<br>
        - Best Delegate Grand General Assembly MUN 2018<br>
      </p>
    </div>
  </div>
</div>
{%endblock%}
