<!DOCTYPE html>
{%load static%}
 <html>
   <head>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}"/><!--never forget to move the js and css folder to static-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <title>James Dean</title>
   </head>
   <body>
     <div class="container">
       <h2>
         <p>
           Hello, how are you?<!--seriously, this is just fucking around-->
         </p>
       </h2>
     </div>
     <div class="blockContain">
       {% block content %}{% endblock %}
     </div>
     <div class="floatButt">
       <a class="waves-effect waves-light btn xsa" href = "addPost">Add Post!</a>
       <a class="waves-effect waves-light btn xsb" href = "deleteAll">Delete All!</a>
     </div>
     <div class="iForgotToMakeStaticCSSLastTimeImSorry">
       {% if project %}
         {% for data in project %}
           <div class="card-panel deep-purple accent-1">
             <div class="row">
               <div class="col s3 m3 l3"><p>Post:<br>{{data.Status}}</p></div>
             </div>
           </div>
         {% endfor %}
       {% else %}
       {% endif %}
     </div>
   </body>
 </html>
